.tracking{
  background: rgba(217, 217, 217, 0.10);
  padding: 5px;
}
.primary{
  color: #343a40;

}
::ng-deep .ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #841238;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
}
