@import '../../../auth/components/register/register.component.css';

.border-left{
  border-left: 3px solid #ebddc25c;
}
.form-control[readonly] {
  border-radius: 10px;
  background-color: #f6f6f6 !important;
  border: none;
}
::ng-deep .ant-spin-dot-item {
  position: absolute;
  display: block;
  width: 9px;
  height: 9px;
  background-color: #841238;
  border-radius: 100%;
  transform: scale(0.75);
  transform-origin: 50% 50%;
  opacity: 0.3;
  animation: antSpinMove 1s infinite linear alternate;
}
